{% extends 'base.html' %}
{% include 'settings/nav.html' %}
{% load static %}

{% block subnav %}
{% include 'settings/nav.html' %}
{% endblock subnav %}

{% block content %}
<div class="box">
<table>
  <tr>
    <td colspan="2"><h3>Find city</h3></td>
  </tr>

  <form method="POST">
    {% csrf_token %}
    <tr>
      <td><label for="city">City</label></td>
      <td>
        <input type="text" name="city"></select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="submit_button" type="submit" name="search" value="Search"></input>
      </td>
    </tr>
  </form>

  <tr>
    <td colspan="2"><h3>Edit options</h3></td>
  </tr>

  <form method="POST">
    {% csrf_token %}
    <tr>
      <td><label for="description">Location</label></td>
      <td>
        <input type="text" name="description" value="{{ description }}"></select>
      </td>
    </tr>
    <tr>
      <td><label for="lat">Latitude</label></td>
      <td>
        <input type="text" name="lat" value="{{ lat }}"></select>
      </td>
    </tr>
    <tr>
      <td><label for="lon">Longitude</label></td>
      <td>
        <input type="text" name="lon" value="{{ lon }}"></select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="submit_button" type="submit" name="edit" value="Edit"></input>
      </td>
    </tr>
  </form>
</table>
</div>

{% endblock content %}
