{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- TODO: perhaps move this to a seperate file -->
<style type="text/css">
body {
  padding: 1em;
}
table#wrap {
  min-width: 3em;
  margin: 0 auto;
}
</style>

<script type="text/javascript">
// MUh globals
const csrftoken = getCookie('csrftoken');
var devices;

// Functionz
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}

function do_search(event) {
  let org_id = event.target.elements.org_id.value;
  if (org_id == "") {
    event.preventDefault();
    return;
  }

  $.ajax({
    url: window.location.pathname,
    type: "GET",
    data: jQuery.param({ org_id: org_id }),
    success: function(response) {
      console.log("Got devices: " + response);
      // JS: I don't want this to be global, but this programming language
      // is so bad
      devices = response;
      // Now we can fill the select contents
      let dest = document.getElementById("devices");
      dest.innerHTML = " ";
      for (i in response) {
        console.log(response[i]);
        let el = document.createElement("option");
        el.text = "[" + response[i].serial + "] " + response[i].description;
        dest.appendChild(el);
        if (i == 0) {
          populate_device(0);
        }
      }
    }
  });
  event.preventDefault();
}

function populate_device(idx) {
  let device = devices[idx];

  let tgt_form = document.getElementById("add_device_form");
  tgt_form.elements.org_id.value = device.org_id;
  tgt_form.elements.serial.value = device.serial;
  if (device.description != null) {
    tgt_form.elements.description.value = device.description;
  } else {
    tgt_form.elements.description.value = "";
  }

  // Disable all sensors
  tgt_form.elements.sensor_oc.disabled = true;
  tgt_form.elements.sensor_hd.disabled = true;
  tgt_form.elements.sensor_tm.disabled = true;

  // Enable supported ones
  for (i in device.supported_sensors) {
    let sensor_type = device.supported_sensors[i];
    switch (sensor_type) {
      case "OC":
        tgt_form.elements.sensor_oc.disabled = false;
        break;
      case "HD":
        tgt_form.elements.sensor_hd.disabled = false;
        break;
      case "TM":
        tgt_form.elements.sensor_tm.disabled = false;
        break;
    }
  }
}

</script>
{% endblock header %}

{% block content %}
  <table id="wrap">
    <tr>
      <td colspan="2"><h1>Search devices</h1></td>
    </tr>

    <form onsubmit="do_search(event);">
    <tr>
      <td><label for="org_id">Organization ID</label></td>
      <td><input type="text" name="org_id"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Search"></td>
    </tr>
    </form>

    <tr>
      <td colspan="2"><h2>Add device</h2></td>
    </tr>
    <tr>
      <td colspan="2">
        <select id="devices" onchange="populate_device(this.selectedIndex);"></select>
      </td>
    </tr>
    <form id="add_device_form" method="post">
    {% csrf_token %}
    <tr>
      <td><label for="org_id">Organization ID</label></td>
      <td><input type="text" name="org_id"></td>
    </tr>
    <tr>
      <td><label for="serial">Serial number</label></td>
      <td><input type="text" name="serial"></td>
    </tr>
    <tr>
      <td><label for="description">Description</label></td>
      <td><input type="text" name="description"></td>
    </tr>
    <tr>
      <td colspan="2"><h3>Sensors</h3></td>
    </tr>
    <tr>
      <td><label for="sensor_oc">Occupancy</label></td>
      <td><input type="checkbox" name="sensor_oc"></td>
    </tr>
    <tr>
      <td><label for="sensor_hd">Humidity</label></td>
      <td><input type="checkbox" name="sensor_hd"></td>
    </tr>
    <tr>
      <td><label for="sensor_tm">Temperature</label></td>
      <td><input type="checkbox" name="sensor_tm"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Add Device"></td>
    </tr>
    </form>
  </table>
</form>
{% endblock content %}
