{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- ChartJS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>

    <!-- Base Style !-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- Page specific headers -->
    {% block header %}
    {% endblock header %}
  </head>
  <body>
    <div id="nav">
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'settings/weather' %}">Settings</a>
      <a href="{% url 'auth/logout' %}">Log Out</a>
    </div>
    <div style="clear: both;"></div>
    {% block subnav %}
    {% endblock subnav %}
    <div id="wrap">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
