{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/charts.css' %}">
<script src = "{% static 'js/charts.js' %}"></script>
{% endblock header %}

{% block content %}
<a href="/settings/weather/" style="color:white;font-size: 20px;">Settings</a>
<div class = "col-md-10 col-12 mx-auto" style="margin-top:50px">
	<div class="row">
		<div class="col-md-6 col-12">
			<div class = "card" style="margin-top:30px">
				<div class = "card-body" >
					Latest humidity reading:
					<p id = "h"><script>docWrite(h)</script></p>
					Latest temperature reading:
					<p id = "t"><script>docWrite(t)</script></p>
					Latest occupancy reading:
					<p id = "o"><script>docWrite(o)</script></p>
					<!-- <input onchange = "filterData()" type="date" id="startDate">
					<input onchange = "filterData()" type="time" id="startTime">
					<input onchange = "filterData()" type="date" id="endDate">
					<input onchange = "filterData()" type="time" id="endTime"> -->
				</div>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class = "card" style="margin-top:30px">
				<div class = "card-body">
					<canvas id = "ChartHumidity" width="300" height="150">
					</canvas>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-12">
			<div class = "card" style="margin-top:30px">
				<div class = "card-body">
					<canvas id = "ChartTemperature" width="300" height="150"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class = "card" style="margin-top:30px">
				<div class = "card-body">
					<canvas id = "ChartOccupancy" width="300" height="150">
					</canvas>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
